#divCrono {
    /* background-color: rgba(89, 255, 0, 0.307); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 230px;
    left: 163px;
    top: 792px;
}

svg {
    /* background: rgba(255, 255, 0, 0.296); */
    /* border: 1px solid #666; */
    opacity: 0;
    /* transform: scale(0.5); */
}

#cronoAnillo {
    fill: none;
    stroke: #fff;
    stroke-width: 3px;
    transform: rotate(90deg);
    opacity: 0;
}

#cronoProgresion {
    fill: none;
    stroke: #ffffff;
    stroke-width: 23px;
    transform: rotate(-90deg);
    opacity: 0;
}

#cronoCentro {
    fill: url(#gradienteNaranja);
    clip-path: url(#mascaCrono);
    -webkit-clip-path: url(#mascaCrono);
    stroke: #ffffff;
    stroke-width: 3px;
    opacity: 1;
}
#cronoCentro5s {
    fill: url(#gradientePeligro);
    opacity: 1;
}

.divSegundos {
    /* background-color: #1e00ff78; */
    clip-path: url(#mascaSegundos);
    -webkit-clip-path: url(#mascaSegundos);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#textoSegundos {
    /* background-color: rgba(255, 255, 0, 0.47); */
    font-size: 90px;
    font-family: fuenteBlack;
    text-shadow: 6px 6px 3px var(--sombra);
}
