@font-face {
    font-family: fuenteRegular;
    src: url("./fuentes/Nunito-Regular.ttf") format("truetype");
}
@font-face {
    font-family: fuenteLight;
    src: url("./fuentes/Nunito-Light.ttf") format("truetype");
}
@font-face {
    font-family: fuenteBold;
    src: url("./fuentes/Nunito-Bold.ttf") format("truetype");
}
@font-face {
    font-family: fuenteBlack;
    src: url("./fuentes/Nunito-Black.ttf") format("truetype");
}

:root {
    --naranjaClaro: #ff8100;
    --naranjaOscuro: #ff3b02;
    --azulClaro: #007eff;
    --azulOscuro: #0034ff;

    --verdeClaro: #10921d;
    --verdeOscuro: #107136;
    --magentaClaro: #a91050;
    --magentaOscuro: #8f1a1f;
    --peligroClaro: #ff004c;
    --peligroOscuro: #b40036;

    --blancoTextos: #fff;
    --sombra: #1212125c;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
    font-family: fuenteBold;
    color: var(--blancoTextos);
}

div {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

img {
    position: absolute;
}
video {
    position: absolute;
}

/* CONTENEDOR HD */
#container {
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    scale: 1;
}

.divTexto {
    display: flex;
    overflow: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    text-shadow: 4px 4px 2px var(--sombra);
}

/* ----------------------- PROVISIONALES ----------------------- */

#titulo {
    background-color: #1a5483;
    font-size: 40px;
    right: -425px;
    transform: rotate(90deg);
    top: 593px;
    text-align: center;
    width: 900px;
    padding: 5px;
}

#botonera {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    /* background-color: rgb(255, 0, 212); */
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 3px;

    button {
        background-color: yellow;
        height: 100%;
        padding: 0 10px;
        border-radius: 7px;
        max-width: 5vw;
        font-size: 11px;
    }
}

.espacio {
    width: 1vw;
    display: inline-block;
}

.ref {
    /* top: 100px;
    right: 100px; */

    width: 1920px;
    height: 1080px;
    top: 0px;
    right: 0px;

    opacity: 0.6;
    position: absolute;
    z-index: 0;
}

/* -------------------- INTERRUPTORES GENERALES EN PRODUCCIÓN ------------------- */

#container {
    background-color: #282828;
    /* opacity: 0; */
}
.titulo {
    opacity: 1;
}
#botonera {
    opacity: 1;
}
#reglaCentral {
    height: 100%;
    width: 3px;
    background-color: red;
    left: 960px;
    opacity: 0;
}
